body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

nav {
  background-color: #414141;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
p{
    margin: 10px;
}
a{
    color: #fff;
    text-decoration: none;
    background-color: #414141;
}

form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;

  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  height: 40px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

#weight_guide {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#weight_guide h3 {
  margin-top: 0;
}

@media (max-width: 768px) {
  form {
    margin: 20px auto;
    padding: 10px;
  }
  input[type="text"] {
    height: 30px;
    margin-bottom: 10px;
  }
  button {
    height: 30px;
  }
}

@media (max-width: 480px) {
  form {
    margin: 10px auto;
    padding: 5px;
  }
  input[type="text"] {
    height: 25px;
    margin-bottom: 5px;
  }
  button {
    height: 25px;
  }
  #result {
    font-size: 18px;
  }
}
