body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

nav {
    background-color: #414141;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  p{
      margin: 10px;
  }
  a{
      color: #fff;
      text-decoration: none;
      background-color: #414141;
  }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    background-color: #fff;
    padding: 2em;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
